* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, rgba(242, 240, 239, 1) 0%, rgba(219, 219, 217, 1) 100%);
  min-height: 100vh;
  font-family:"Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color:#6F536F;
}

/* HEADER SECTION */
header h1 {
  margin: 94px auto 58px;
}
header img[alt="banner-1"] {
  position: absolute; 
  top: 0; 
  left: 0
}
header img[alt="banner-2"] {
  position: absolute; 
  bottom: 0; 
  right: 0;
  z-index: 75;
}

/* MAIN SECTION */
main.container {
  padding: 70px 25px;
  max-width: 900px;
}
main h2:first-child {
  margin-bottom: 32px;
}

/* FOOTER SECTION */
footer.container {
  max-width: 100%;
  gap: 10px;
  background-color: #ffffff;
  padding: 7px 0 14px;
}
footer h3 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.24px;
  line-height: 30px;
}
footer .socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
footer p {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.08px;
  text-align: center;
  line-height: 24px;
}
