.mt-50 {
  margin-top: 50px;
}
.mt-35 {
  margin-top: 35px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-8 {
  margin-bottom: 8px;
}
.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.block {
  width: 100%;
}